@mixin flex($align: start, $justify: start) {
   display: flex;
   align-items: $align;
   justify-content: $justify;
}

@mixin position($position: relative, $top: auto, $left: auto, $zindex: 0) {
   position: $position;
   top: $top;
   left: $left;
   z-index: $zindex;
}

@mixin box($width: auto, $height: $width) {
   width: $width;
   height: $height;
}

.wrap {
   background-color: #fff;
   box-shadow: rgba(#000, 0.05) 0 0 20px;
   position: relative;

   &::after {
      content: "";
      background-color: $primary_color;
      clip-path: polygon(100% 0, 0 0, 100% 100%);

      @include box(15rem, 6rem);
      @include position(absolute, 0, auto, 9);
      right: 0;
   }
}

.sidebar {
   background-image: url(../images/bg-caro.jpg);
   background-size: 20rem;
   height: 100%;

   &__about {
      background-color: rgba($primary_color, 0.7);
      position: relative;
      padding: 3.5rem;

      &::after {
         content: "";
         @include box(100%, 5rem);
         background-color: inherit;

         position: absolute;
         top: 100%;
         left: 0;
         z-index: 9;

         transform: translateY(-1px);
         clip-path: polygon(50% 100%, 0 0, 100% 0);
      }

      &-name,
      &-position {
         text-align: center;
      }

      &-name,
      &-avatar,
      &-position,
      &-dots {
         margin-bottom: 1rem;
      }

      &-name {
         text-transform: uppercase;
         font-weight: bold;
         font-size: 3rem;
      }
      &-avatar {
         margin-left: auto;
         margin-right: auto;
         @include box(20rem);

         overflow: hidden;
         border-radius: 50%;
      }
      &-position {
         font-weight: 500;
         font-size: 2rem;
      }
      &-dots {
         text-align: center;
         span {
            display: inline-block;
            @include box(0.5rem);

            background-color: #444;
            border-radius: 50%;
            margin: 0 0.25rem;
         }
      }
      &-desc {
         font-size: 1.5rem;
         font-weight: normal;
         text-align: justify;
      }
   }

   &__contact {
      text-align: center;
      padding: 3.5rem;
      margin-top: 5rem;
      &-title {
         margin-bottom: 1.5rem;
         font-size: 2.4rem;
         text-transform: uppercase;
         font-weight: 600;
      }
   }
}

.contact {
   &__item {
      margin-bottom: 1rem;
      font-size: 1.6rem;
      &-icon {
         @include flex(center, center);
         margin: 0 auto 0.5rem;

         @include box(5rem);
         background-color: #444;

         border-radius: 50%;
         font-size: 1.8rem;
         color: $primary_color;
      }

      &-link {
         color: #000;
         transition: color 0.35s ease;

         &:hover {
            color: $primary_color;
         }
      }

      .text-bold {
         font-weight: 600;
      }
   }
}

.headline {
   @include flex(center);
   margin-bottom: 1.5rem;

   h2 {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 600;
   }

   &__icon {
      margin-right: 1.2rem;
      @include box(6rem);

      font-size: 2.4rem;
      border-radius: 50%;
      background-color: $primary_color;

      @include flex(center, center);
   }
}

.experience {
   &__item {
      margin-bottom: 2rem;
      padding-left: 7.2rem;
      position: relative;
      &::before {
         content: "\f111";
         font-size: 0.8rem;
         font-family: FontAwesome;
         color: #444;

         @include position(absolute, 1.2rem, 3.1rem, 9);
         transform: translateX(-50%);
      }

      &-company,
      &-postion {
         margin-bottom: 0.5rem;
      }

      &-company {
         @include flex(center);
         flex-wrap: wrap;
      }
      &-name {
         font-size: 2rem;
         font-weight: 600;
         text-transform: uppercase;
      }
      &-time {
         color: #444;
         &::before {
            content: "|";
            display: inline-block;
            margin: 0 1.5rem;

            font-size: 1.3rem;
            color: #ccc;
         }
      }
      &-postion {
         font-weight: 500;
         font-size: 1.7rem;
      }
      &-desc {
         font-weight: normal;
         text-align: justify;
      }
   }
}

.skills {
   display: flex;
   flex-wrap: wrap;

   &__item {
      width: 100%;
      margin-bottom: 2rem;
      padding-left: 7.2rem;

      position: relative;

      &::before {
         content: "\f111";
         font-size: 0.8rem;
         font-family: FontAwesome;
         color: #444;

         transform: translateX(-50%);
         @include position(absolute, 1.2rem, 3.6rem, 9);
      }

      &-type {
         font-size: 2rem;
         font-weight: 600;
         text-transform: uppercase;
         margin-bottom: 0.8rem;
      }
   }
}

.skill {
   font-size: 1.6rem;
   margin-bottom: 0.5rem;
   @include flex(center, space-between);

   &__name {
      font-weight: 500;
   }
   &__level {
      min-width: 9.5rem;
      padding-left: 1rem;

      &-wrap {
         @include flex(center);
         position: relative;

         width: 0;
         &::after {
            color: $primary_color;
            content: "\f111\f111\f111\f111\f111";
            font-family: FontAwesome;

            width: 100%;
            overflow: hidden;
            @include position(absolute, 0, 0, 1);

            letter-spacing: 0.5rem;
         }
         > i {
            color: #ccc;
            &:not(:first-child) {
               margin-left: 0.5rem;
            }
         }
      }
   }
}

.educations {
   display: flex;
   flex-wrap: wrap;

   &__item {
      margin-bottom: 2rem;
      padding-left: 7.2rem;
      width: 100%;

      position: relative;
      &::before {
         content: "\f111";
         font-size: 0.8rem;
         font-family: FontAwesome;
         color: #444;

         transform: translateX(-50%);
         @include position(absolute, 1.2rem, 3.6rem, 9);
      }

      &-name {
         font-size: 2rem;
         font-weight: 600;
         text-transform: uppercase;
         margin-bottom: 0.8rem;
      }

      &-specialty,
      &-time,
      &-desc {
         margin-bottom: 0.5rem;
      }

      &-specialty {
         font-weight: 500;
         font-size: 1.7rem;
      }
      &-time {
         color: #444;
      }
      &-desc {
         font-weight: normal;
      }
   }
}
